body {
  font-family: 'Nunito', sans-serif;
  zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0 0;
  overflow-x: hidden;
}
section.py-4 {
  max-height:max-content;
  background-image: url(../../Texture31.png);
  background-size : cover;
}

.product img {
  padding-top: 50px;
  max-width:100%;
  position: relative;
}

.content {
  margin-top: 36px;
}

section .row {
  margin-top: 24px;
}

.col-6 img {
  width: 400px;
}

.product-1 {
  margin-right: 16px;
}

.content-product {
  background-image: url(../../Texture31.png);
 
  background-size: cover;
  max-height:max-content;
  
}

.product-1 {
  width: 250px;
  padding : 16px;
  margin-top: 24px;
  border: 1px solid #838383;
  border-radius: 8px;
  
}

.product-1:hover {
  border: 1px solid black;
  cursor: grab;
}

.product-1 img {
  width: 200px;
}


.product-1 .fs-5 {
  margin-top: 24px;
  font-weight: bolder;
}



.blog-1 , .blog-2, .blog-3{
  text-align: left;
  max-width: 300px;
  margin: auto;
}

.blog img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  margin-top: 8px;
}

